@model Technician
@{
    string title = ViewBag.Action + " Incident";
    ViewBag.Title = title;
}

@*Add Validation to Add Edit Pages*@
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<div class="text-center">
    <h1 style="background-color: #decdc3; font-size:50px" class="jumbotron"><b>@ViewBag.Action Technician</b></h1>
</div>

<form asp-action="Edit" method="post">
    @if (ViewBag.Action == "Edit")
    {
        <input asp-for="TechnicianID" type="hidden" value="@Model.TechnicianID" />
    }

    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" value=@Model.Name>>
    </div>

    <div class="form-group">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" class="form-control" value=@Model.Email>
    </div>

    <div class="form-group">
        <label asp-for="Phone">Phone</label>
        <input asp-for="Phone" class="form-control" value=@Model.Phone>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
        <a asp-controller="Technicians" asp-action="Index"
        class="btn" style="background-color: #5c848e; color:white">Cancel</a>
</form>